/* CLÃUDIO DANIEL FIGUEREDO PERUNA 
PAULO GABRIEL DA ROCHA COSTA SILVA */
@charset "UTF-8";

:root {
	--cor1: #8d79ae;
	--cor2: #674f91;
	--cor3: #482e74;
	--cor4: #2d1557;
	--cor5: #19063a;
	--cor6: #202020;
	--cor7: #b3adad;
    --cor8: #2e2e2e;
}

html {
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
	color: #b3adad;
	background-color: var(--cor6);
}

.negrito {
    font-weight: 800;
    color: var(--cor1);
}

.italico {
    font-style: italic;
    border-bottom: 1px solid var(--cor2);
}

header,
nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;
}

header > #titulo-cabecalho {
	font-family: "Salsa", cursive;
	color: var(--cor1);
	font-size: 35px;
	margin-left: 50px;
    cursor: pointer;
}

header > nav > div {
	margin-right: 50px;
	font-size: 16px;
    cursor: pointer;
    transition: 0.5s;
}

header > nav > div:hover {
    color: white;
}

section {
    margin-bottom: 105px;
}

section#call-to-action {
    font-weight: 400;
    font-size: 35px;
    height: 87vh;

    display: flex;
    justify-content: space-between;
}

section#call-to-action > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
}

section#call-to-action p#nome {
    color: var(--cor2);
    font-weight: 600;
}

section#call-to-action p#descricao {
    width: 30vw;
    font-weight: 300;
    font-size: 18px;
    margin-top: 30px;
    text-align: center;
}

section#call-to-action #botoes {
    display: flex;
}

section#call-to-action .botao {
    margin: 30px;
    width: fit-content;
    padding-left: 15px;
    padding-right: 15px;
    height: 40px;
    background-image: linear-gradient(90deg, var(--cor2) 0%, var(--cor3) 92.32%);
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;

    display: flex;
    align-items: center;
    justify-content: center;
}

section#call-to-action .botao:hover {
    transform: scale(1.1);
}

.botao > p {
    font-size: 40%;
    font-weight: 600;
    color: #e6e2e2;
}

section#call-to-action img {
    height: 60vh;
    transition: 0.2s;
}

section#call-to-action img:hover {
    transform: scale(1.05);
}

section.centralizado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 25px;
    color: white;
    text-align: center;
}

section#sobre-mim > p {
    width: 50vw;
    margin-bottom: 15px;
    line-height: 1.5em;
}

#cards {
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
    width: 80vw;
}

.card-hab {
    width: 7rem;
    height: 7rem;
    background-color: var(--cor7);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly ;
    align-items: center;
    border-top-right-radius: 1rem;
    cursor: pointer;
    transition: 0.5s;
}

.card-hab:hover {
    transform: scale(1.1);
}

.card-hab::after {
    content: "";
    display: block;
    position: relative;
    width: 100%;
    height: 0.3rem;
    background-image: linear-gradient(90deg, var(--cor2) 0%, var(--cor4) 92.32%);
    bottom: -1rem; 
    left: 0;
}

.card-hab > p {
    color: var(--cor4);
}

.card-hab > i {
    color: var(--cor4);
    font-size: 2.7rem;
}

#grade-projetos {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
    width: 85vw;
    margin: auto;
}

.card-projeto {
    border: 1px solid var(--cor6);
    width: 260px;
    height: 150px;
    padding: 25px;
    background-color: var(--cor8);
    border-radius: 8px;
    transition: 0.3s;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card-projeto:hover {
    border: 1px solid var(--cor2);
}

.card-projeto > h1, p {
    color: var(--cor7);
    text-align: start;
}

.card-projeto > h1 {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 0px;
    color: white;
}

.card-projeto p {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
}

.card-projeto > a {
    display: block;
    color: var(--cor1);
    transition: 0.3s;
}

.card-projeto > a:hover {
    color: white;
    border-bottom: #e6e2e2;
}

section#contatos > h1 {
    margin-bottom: 70px;
}

div#cards-contatos {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

div.card-contato {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.card-contato a {
    color: var(--cor7);
}

.circulo-icone {
    background-color: var(--cor8);
    margin: auto;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circulo-icone > img {
    width: 50%;
}

div.card-contato > h2 {
    color: white;
    font-weight: 600;
    margin: 15px;
}

div.card-contato > p {
    font-weight: 500;
    margin-bottom: 15px;
    cursor: pointer;
}

#espaco {
    height: 100px;
}